@model IEnumerable<CategoryViewModel>
@using SimpleBlogEngine.Web.Utility

@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col col-xs-6">
                <h3 class="panel-title">Categories</h3>
            </div>
            <div class="col col-xs-6 text-right">
                <a id="createEditCategoryModal" data-toggle="modal" asp-action="AddEditCategory" data-target="#modal-action-category" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i>  Add Category
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>
                            <a id="editCategoryModal" data-toggle="modal" asp-action="AddEditCategory" asp-route-id="@item.Id" data-target="#modal-action-category"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            <a id="deleteCategoryModal" data-toggle="modal" asp-action="DeleteCategory" asp-route-id="@item.Id" data-target="#modal-action-category" class="btn btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>  Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-category", AreaLabeledId = "modal-action-category-label", Size = ModalSize.Large })

@section scripts
    {
    <script src="~/js/category-index.js" asp-append-version="true"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}