@page
@model SimpleBlogEngine.Web.Pages.Post.IndexModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col col-xs-6">
                <h3 class="panel-title">Posts</h3>
            </div>
            <div class="col col-xs-6 text-right">
                <a id="createEditPageModal" asp-page="CreateEditPost" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i>  Add Post
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Posts[0].Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Posts[0].Content)</th>
                    <th>@Html.DisplayNameFor(model => model.Posts[0].CategoryName)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Content)</td>
                        <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                        <td>
                            <a id="editCategoryModal" asp-page="CreateEditPost" asp-route-id="@item.Id" class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            <a id="deleteCategoryModal" asp-page="DeletePost" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="glyphicon glyphicon-remove"></i>  Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
